:root {
    --main-yellow: #fab222;
    --light-green: #83a380;
    --red: #c81e32;
    --border-radius-size: 7px;
    --font-family: IRANYekan;
}

.content {
    height: max-content;
    min-height: 600px;
}
.main-div {
    padding: 35px 0 0;
}
.cart {
    text-align: right;
}

    .cart .cart-title {
        border: 1px solid #b5b3b2;
        border-radius: 7px 7px 0 0;
        font-size: 1.5rem;
        background: #e9e9e9;
        padding: 20px;
        font-weight: 600;
    }

    .cart .cart-item {
        border: 1px solid #b5b3b2;
        border-top: none;
        padding: 20px;
        flex-direction: row-reverse;
    }

    .cart .cart-item.detailes {
        display: flex;
    }

        .cart .cart-item .cart-item-div {
            padding-top: 20px;
        }

        .cart .cart-item .cart-item-div:last-child {
            padding-top: 0px;
        }

            .cart .cart-item .cart-item-div span {
                float: left;
            }

                .cart .cart-item .cart-item-div span:nth-child(2) {
                    margin-left: 5px;
                }
            
            .cart .cart-item .cart-item-div:last-child{
                font-weight: 600;
            }

.buy-btn {
    color: white;
    background-color: var(--main-yellow);
    margin-top: 20px;
}

    .buy-btn:hover {
        color: white;
        filter: contrast(120%);
    }

        .cart .cart-item .cart-item-img {
            height: 100px;
            width: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            float: right;
        }

        .cart .cart-item .cart-item-name {
            margin: auto 0;
        }

        .cart .cart-item .cart-item-price {
            margin: auto 0;
            font-size: 1.3rem;
            font-weight: 600;
        }

        .cart .cart-item .cart-item-count {
            margin: auto 0;
        }

            .cart .cart-item .cart-item-count .cart-item-count-div {
                display: flex;
                width: 80px;
                margin: 0;
                border-radius: 7px;
                /*flex-direction: row;*/
                color: white;
            }

                .cart .cart-item .cart-item-count .cart-item-count-div .add,
                .cart .cart-item .cart-item-count .cart-item-count-div .minus,
                .cart .cart-item .cart-item-count .cart-item-count-div .number{
                    text-align: center;
                    width: 33.333%;
                }

                .cart .cart-item .cart-item-count .cart-item-count-div .add {
                    background: var(--main-yellow);
                    border-radius: 3px 0 0 3px;
                    cursor: pointer;
                    transition: .15s ease-in-out;
                    padding-top: 2px;                    
                }
                .cart .cart-item .cart-item-count .cart-item-count-div .number {
                    background: #e3e3e3;
                    border-top: 1px solid #a7a3a3;
                    border-bottom: 1px solid #a7a3a3;
                    color: black;
                }
                .cart .cart-item .cart-item-count .cart-item-count-div .minus {
                    background: #6c6868;
                    border-radius: 0 3px 3px 0;
                    cursor: pointer;
                    transition: .15s ease-in-out;
                    padding-top: 2px;
                }

            

        .cart .cart-item .cart-item-remove {
            margin: auto 0;
            text-align: left;
        }

            .cart .cart-item .cart-item-remove i {
                color: darkred;
                font-size: 1.4rem;
                cursor: pointer;
            }

@media (max-width: 992px) {

    .main-div {
        flex-direction: column-reverse;
    }
    .cart .cart-item .cart-item-img {
        height: 80px;
        width: 80px;
    }
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

@media (min-width: 576px) {

    
}